<div class="terminal-dialog-wrapper">
  <div class="terminal-header" cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle>
    <div class="dots">
      <span class="dot red" (click)="close()"></span>
      <span class="dot yellow"></span>
      <span class="dot green"></span>
    </div>

    <span class="terminal-title">
      Training Logs - {{ data.jobId }}
    </span>

    <button mat-icon-button (click)="close()" class="close-btn">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <div class="terminal-body" #scrollContainer>
    @for (log of terminalService.logs(); track $index) {
    <div class="log-line" [innerHTML]="log"></div>
    } @empty {
    <div class="empty-log">로그를 기다리는 중...</div>
    }
  </div>
</div>